button {
  background-color: transparent;
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  display: inline;
}

#units {
  display: inline;
}
#celcius {
  margin-top: 50px;
}
h1 {
  display: inline;
}
#dream {
  display: block;
}
#unit {
  position: relative;
  font-size: 20px;
  top: -10px;
  text-align: center;
}
#icons {
  display: inline;
  margin: 0 auto;
}
.abc {
  background-color: #48465c;
  height: 500px;
  width: 600px;
  border: 2px solid lightgray;
  display: block;
  margin: 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h3,
h4,
h5 {
  font-weight: normal;
}
#units-container {
  text-align: center;
  padding: 30px;
  margin-top: -20px;
}
#look-input {
  width: 400px;
  margin-left: 20px;
  height: 30px;
}
h1,
h3,
h4,
h5 {
  margin-left: 15px;
}
#col-img {
  display: block;
}
.weather-forecast {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10px;
  line-height: 20px;
}
.weather-forecast-dates {
  font-size: 20px;
}
.weather-forecast-temperatures {
  font-size: 14px;
  color: white;
}
.weather-forecast-temperature-min {
  opacity: 50%;
  color: white;
}
.col-2 {
  display: inline-block;
  padding: 10px 10px;
}
.fortemp {
  text-align: center;
  display: block;
}
#merits,
#farenheit-link {
  color: white;
  text-decoration: none;
}
#pin {
  color: white;
}
.row {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
h3::first-letter {
  text-transform: capitalize;
}
h4,
h5 {
  font-size: 12px;
}
h6 {
  font-size: 12px;
  padding: 0;
  line-height: 1px;
  margin-left: 15px;
}
#today {
  padding: 0;
  margin-left: 15px;
  line-height: none;
  font-size: 13px;
  margin-bottom: 4px;
}
h3 {
  font-size: 18px;
}
#sourceLink {
  text-align: center;
  margin: 0 auto;
  position: relative;
}
